In [36]:
import pandas as pd
import numpy as np

data=pd.read_csv('GDPlist.csv')
data

          Country      Continent  GDP (millions of US$)
0    �Afghanistan           Asia                  18181
1        �Albania         Europe                  12847
2        �Algeria         Africa                 190709
3         �Angola         Africa                 100948
4      �Argentina  South America                 447644
..            ...            ...                    ...
120   �Uzbekistan           Asia                  45353
121    �Venezuela  South America                 315841
122      �Vietnam           Asia                 122722
123        �Yemen         Africa                  33675
124       �Zambia         Africa                  19206

[125 rows x 3 columns]

In [7]:
# Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
row = data.shape[0]
col = data.shape[1]
print(f'Số dòng là {row}, số cột là {col}')
print('Kiểu dữ liệu của các thuộc tính:\n',data.dtypes)

Số dòng là 125, số cột là 3
Kiểu dữ liệu của các thuộc tính:
 Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

In [9]:
# Tính giá trị lớn nhất và nhỏ nhất của GDP.
gdp_min = data.loc[:,'GDP (millions of US$)'].min()
gdp_max = data.loc[:,'GDP (millions of US$)'].max()
print(f'GDP lớn nhất là: {gdp_max}; GDP nhỏ nhất là: {gdp_min}')

GDP lớn nhất là: 15094025; GDP nhỏ nhất là: 10600

In [102]:
# Hãy cho biết xu hướng phân bố dữ liệu của GDP.
gdp_mode = data.loc[:,'GDP (millions of US$)'].mode().values[0]
gdp_mean = data.loc[:,'GDP (millions of US$)'].mean()
gdp_median = data.loc[:,'GDP (millions of US$)'].median()

print(f'Giá trị xuất hiện nhiều nhất của GDP là: {gdp_mode}\n\
Giá trị trung bình của GDP là: {gdp_mean}\n\
Giá trị trung vị của GDP là: {gdp_median}')
print('Dữ liệu phân bố lệch phải')

Giá trị xuất hiện nhiều nhất của GDP là: 10600
Giá trị trung bình của GDP là: 555427.784
Giá trị trung vị của GDP là: 96089.0
Dữ liệu phân bố lệch phải

In [33]:
# Hãy cho biết châu lục nào xuất hiện nhiều nhất
cont_mode=data.loc[:,'Continent'].mode().values[0]
print('Châu lục xuất hiện nhiều nhất là:',cont_mode)

Châu lục xuất hiện nhiều nhất là: Europe

In [74]:
# Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP.  
# Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP
# gdp_sum = data.groupby('Continent')['GDP (millions of US$)'].sum()
# gdp_mean = data.groupby('Continent')['GDP (millions of US$)'].mean()
gdp_sum = pd.pivot_table(data, values=['GDP (millions of US$)'],index=['Continent'],aggfunc=np.sum)
gdp_mean = pd.pivot_table(data, values=['GDP (millions of US$)'],index=['Continent'],aggfunc=np.mean)
gdp_sum.rename(columns={'GDP (millions of US$)':'Sum'},inplace=True)
gdp_mean.rename(columns={'GDP (millions of US$)':'Mean'},inplace=True)
data2=pd.concat([gdp_sum,gdp_mean],axis=1)
data2

                    Sum          Mean
Continent
Africa          1820811  6.278659e+04
Asia           24425891  6.784970e+05
Europe         19139380  5.172805e+05
North America  18238447  1.658041e+06
Oceania         1662727  5.542423e+05
South America   4141217  4.601352e+05